ENV= # developement | test | production
DATABASE_URL=
JWT_SECRET=
PRIVATE_KEY=

MAILGUN_API_KEY=
MAILGUN_DOMAIN=

COURSE_LOCAL_ADDRESS=
MARKET_LOCAL_ADDRESS=

COURSE_POLYGON_ADDRESS=
MARKET_POLYGON_ADDRESS=

COURSE_ARBITRUM_ADDRESS=
MARKET_ARBITRUM_ADDRESS=

COURSE_POLYGON_AMOY_ADDRESS=
MARKET_POLYGON_AMOY_ADDRESS=