#navbar1 {
    background: #000;
    width: 100%;
    padding: 1.5rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 20px 50px rgb(2, 2, 42);
  }
  .sticky{
    position: fixed;
    z-index: 1;
  }

  .logo1 {
    margin-left: 3%;
    color: #0f00e6;
    width: auto !important;
    height: 4rem !important; 
    text-decoration: none;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .nav-list {
    font-size: 1.25rem;
    margin: 0 35px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    position: relative;
  }

  .wallet {
    background-color: #0026e6;
    color: #F5F5F5;
    border-radius: 20px;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .wallet:hover {
    background-color: #0A3362; 
    color: #F5F5F5; 
  }

  /* .nav-list.dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    border-radius: 30px;
    min-width: 160px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
  } */
  
  /* .dropdown-content .d1 {
    color: #00E6AC; 
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: color 0.3s;
  }
  .dropdown-content .d2 {
    color: #00E6AC; 
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: color 0.3s;
  }
  
  .dropdown-content a:hover {
    color: #F5F5F5; 
  } */