.body2{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  background: #000;
}

.timeline{
  position:relative;
  max-width: 100vw;
  margin: 100px auto;
}
.container{
  padding: 10px 50px;
  position: relative;
  width: 100%;
  background: rgba(0,0,0,0.3);
}
.text-box{
  padding: 20px 30px;
  background: #fff;
  color: #971515;
  position: relative;
  border-radius: 25px;
  width: 300px;
}
.left-container{
  left:0;
}
.right-container{
  left: 19%;
}

.timeline::after{
  content: '1';
  position: absolute;
  width: 6px;
  height: 160vh;
  background: #fff;
  top: 0;
  left: 50%;
}