#services-section {
  z-index: 1;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#services-section .events {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upcoming-slider-container {
  padding: 4%;
  background-color: #132c2c; 
  color: #22d3ee; 
  border: 5px solid #22d3ee;
  border-bottom-width: 4px;
  border-radius: 30px;
  overflow: hidden;
  width: 50%;
  position: relative;
  }
  .upcoming-slider-container:hover {
    filter: brightness(150%); 
    border-top-width: 4px;
    border-bottom-width: 4px;
}

.upcoming-slider-container:active {
    opacity: 0.75; 
}

.upcoming-slider-container:focus {
    outline: none;
}

  
  .upcoming-slider {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .upcoming-slide {
    line-height: 2rem;
    margin-left: 25%;
    margin-right: 25%;
    flex: 0 0 50%;
    max-width: 100%;
  }
  .upcoming-slide p {
    margin-left: 30%;
    font-size: 2rem;
  }
  .upcoming-slide ul {
    margin-top: 10%;
    list-style-type: disc;
  }
  .upcoming-slider img {
    max-width: 100%;
    height: auto;
  }
  
  @keyframes slideAnimation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .slider-controls {
    position: absolute; 
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
  }
  
  .slider-control-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    margin: 0 10px;
    outline: none;
  }