@tailwind base;
@tailwind components;
@tailwind utilities;




@layer utilities {
  .from-grad-start {
    background: linear-gradient(90deg, #000B92 20%, black 20%);
  }

  .to-grad-end {
    background: black;
  }
}




@media (prefers-color-scheme: dark) {
  :root {
    --max-height: 100vh;
    --foreground-rgb: 255, 255, 255;
    --background-initial-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

    overflow-x: hidden;   
}

body::-webkit-scrollbar {
  width: 0;
}

/* Optional: Customize scrollbar track and handle appearance */
body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* .gradient-bg {
  background: linear-gradient(to bottom, #323aa4, #000000); 
      --background-start-rgb: 50, 58, 164;
  height: 100vh;
} */
.nav1{
  margin-top: 1%;
  width: 90%;
  color: #323AA4
}
.about_us{
  max-width: 70vw;
  text-align: justify;
}
.join_us-main{
  margin-bottom: 10%;
}
