@tailwind base;
@tailwind components;
@tailwind utilities;



@media (prefers-color-scheme: dark) {
  :root {
    --max-height: 100vh;
    --foreground-rgb: 255, 255, 255;
    --background-initial-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --gradient-height: 100vh;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    height: var(--gradient-height);
}

/* .gradient-bg {
  background: linear-gradient(to bottom, #323aa4, #000000); 
      --background-start-rgb: 50, 58, 164;
  height: 100vh;
} */
.nav1{
  margin-top: 1%;
  width: 90%;
  color: #323AA4
}
.join_us-main{
  margin-bottom: 10%;
}